@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}




.page {
  background-color: #f0efea;
  color: black;
  min-height: 100vh;
  width: 100%;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.hide-content {
  display: none;
}

.page__section {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

p {
  font-family: "SF Pro Display", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.headings {
  text-align: right;
  padding-right: 111px;
  padding-bottom: 60px;
}

.heading {
  font-family: "SF Pro Display", Arial, sans-serif;
  font-size: 85px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.paragraph {
  margin-top: 15px;
}

.header__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
  align-items: flex-end;
}

.header__footer__description {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.footer__paragraph {
  margin-bottom: 0;
}

#additional-paragraph {
  margin-bottom: 0;
}

.image {
  background: transparent url("images/myphoto.JPG") center no-repeat;
  background-size: cover;
  height: 356px;
  width: 278px;
}

.work {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  align-items: center;
  padding-bottom: 236px;
}

.p__work {
  font-size: 85px;
}

.button {
  width: 226px;
  height: 54px;
  font-size: 24px;
  background-color: #f0efea;
  border: 1px solid #111111;
  cursor: pointer;
}

.button:hover {
  background-color: #4a4a4a;
  color: #f0efea;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 16px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-container:nth-child(3n + 1) {
  grid-column: span 2;
}

.project-img {
  width: 100%;
  height: 423px;
  object-fit: cover;
}

.project-img:hover {
  opacity: 50%;
  cursor: pointer;
}

.project__title {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.project__tools {
  font-size: 24px;
  margin: 0;
  padding-bottom: 22px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .page__section {
    margin: 20px;
    max-width: calc(100% - 40px);
  }

  .heading {
    font-size: 70px;
  }

.work{
  padding-right: 0px;
}

  .p__work{
    font-size: 70px;
  }
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 60px;
  }
  .p__work {
    font-size: 60px;
    margin-bottom: 0;
  }

  .work {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 871px) {
  .header {
    margin-bottom: 53px;
    font-weight: 400;
  }

  .headings {
    max-width: 290px;
    padding: 0 0 70px;
    margin: 0 auto;
  }

  .heading {
    font-size: 24px;
    text-align: right;
  }

  .location {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .header__footer {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .image {
    margin-bottom: 70px;
  }

  #additional-paragraph {
    visibility: hidden;
  }

  .footer__paragraph {
    font-size: 14px;
    font-weight: 400;
  }

  .p__work {
    font-size: 24px;
  }

  .project-container:nth-child(2n + 1) {
    grid-column: auto;
  }
}
