@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.page {
  background-color: #f0efea;
  color: black;
  min-height: 100vh;
  width: 100%;
  position: relative; 
  min-height: 100vh;
  margin: 0;
}

.page__section{
  max-width: 1200px;
  margin: 0 auto;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 135px;
}

p {
  font-family: "SF Pro Display", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.headings{
  text-align: right;
  padding-right: 111px;
  padding-bottom: 60px;
}

.heading{
  font-family: "SF Pro Display", Arial, sans-serif;
  font-size: 85px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.paragraph{
  margin-top: 15px;

}

.header__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__footer__description{
  display: flex;
  flex-direction: column;
  max-width: 350px;
}



.image {
  background: transparent url("images/myphoto.JPG") center no-repeat;
  background-size: cover;
  height: 356px;
  width: 278px;
}


@media screen and (max-width: 1200px) {
  .page__section{
    margin: 20px;
    max-width: calc(100% - 40px);
    }

  .heading {
    font-size: 70px;
  }
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 60px;
  }
}

@media screen and (max-width: 871px) {

  
  .header{
    margin-bottom: 53px;
    font-weight: 400;
  }

  .headings{
    max-width: 290px;
    padding: 0 0 70px;
    margin: 0 auto;
  
  }

  .heading {
    font-size: 24px;
    text-align: right;
}

.location{
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

.header__footer{
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 70px;
}

#additional-paragraph {
  visibility: hidden;
}

.footer__paragraph{
  font-size: 14px;
  font-weight: 400;
}

}